@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e7e8eb;

}


nav {
    width: 100%;
    height: 7vh;
    /*vh-view Port Height */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

nav h3 {
    font-size: 16px;
    margin-left: 35px;
}

nav ul {
    display: flex;
    list-style-type: none;
    z-index: 999;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
}

.content {
    display: inline-block;
    width: 100%;
    height: 93vh;
}

.content-left {
    width: 30%;
    margin: 50px 32px;
    text-align: justify;
}

.content-left .post {
    color: #f4b238;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hello {
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 580;
}

.name {
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 580;
    margin-bottom: 10px;
}

.bio {
    color: grey;
    margin-bottom: 25px;
    font-size: 15px;
}


.button {
    display: flex;
    gap: 20px;
    font-size: 12px;

}

.btn1 {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #f4b238;
    border: 2px solid #f4b238;
}

.btn2 {
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
}


.img-right img {
    height: 650px;
    width: 750px;
    margin: -506px 0px;
    float: right;
}

.projects h1 {
    text-align: center;
    font-size: 48px;
    justify-content: center;
    font-family: Playfair Display;
    font-weight: 700;
}

.line {
    display: block;
    height: 6px;
    background-color: #f4b238;
    width: 115px;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.main-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    height: 170vh;
    width: 100%;
    margin: 0 auto;
}

.card {
    height: 45vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

}

.card-left {
    width: 50%;
    color: black;
    padding: 40px;
    background-color: white;
    height: 100%;
}

.card-right {
    height: 100%;
    width: 50%;
}

.card-right img {
    background-size: cover;
    height: 100vh;
}